$default-color:#2D4054;
$hover-color:#00B4CF;
$left-bar-background-color:#2D4054;
$left-bar-background-color-hover:#435466;
$number-card-bg-color: #ffc41a #7FBC39 white;
$building-background:#ffc41a;
$idle-background:#7FBC39;
$buttons-background:#00B4CF;
$buttons-background-hover:#01869A;
